<div class="divider" id="howitworks"></div>
<div class="container">
  <div class="row">
	  <div class="col-sm-10 col-sm-offset-1">
		<div class="page-header text-center">
		  <h1>How it works</h1>
		</div>
	   </div>	
   </div>
   <div class="row">
		<div class="col-sm-12">   
			<div class="btn-group btn-breadcrumb">
				<a href="#" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-home"></i></a>
				<button class="btn btn-info btn-lg" (click)="setTab(0)">Request Empty Box</button>
				<button class="btn btn-success btn-lg" (click)="setTab(1)">Collection of Filled Boxes</button>
				<button class="btn btn-warning btn-lg" (click)="setTab(2)">Store with Us</button>
				<button class="btn btn-info btn-lg" (click)="setTab(3)">Manage your Items</button>
				<button class="btn btn-success btn-lg" (click)="setTab(4)">Request Delivery</button>
			</div>
		</div>
	</div>
	<div><p></p></div>
	<div class="row">
		<div class="col-sm-12">  
			<div id="description1" *ngIf="tab==0">
				<div style="background: 00FFFF; !important" class="jumbotron" id="jumbo">
				  <h2>Request Empty Box</h2>
				  <p>In no impression assistance contrasted. Manners she wishing justice hastily new anxious.</p>
				</div>					
			</div>
			<div id="description2" *ngIf="tab==1">
				<div style="background: 66CC00; !important" class="jumbotron" id="jumbo">
				  <h2>Collection of Empty Box</h2>
				  <p>In no impression assistance contrasted. Manners she wishing justice hastily new anxious.</p>
				</div>			
			</div>
			<div id="description3" *ngIf="tab==2">
				<div style="background: FF9933; !important" class="jumbotron" id="jumbo">
				  <h2>Store With Us</h2>
				  <p>In no impression assistance contrasted. Manners she wishing justice hastily new anxious.</p>
				</div>				
			</div>
			<div id="description4" *ngIf="tab==3">
				<div style="background: 00FFFF; !important" class="jumbotron" id="jumbo">
				  <h2>Manage your Items</h2>
				  <p>In no impression assistance contrasted. Manners she wishing justice hastily new anxious.</p>
				</div>					
			</div>
			<div id="description5" *ngIf="tab==4">
				<div style="background: 66CC00; !important" class="jumbotron" id="jumbo">
				  <h2>Request Delivery</h2>
				  <p>In no impression assistance contrasted. Manners she wishing justice hastily new anxious.</p>
				</div>					
			</div>			
		</div>
	</div>
</div>