<div class="divider" id="pricing"></div>
<div class="container">
		<div class="row">
		    <div class="page-header text-center">
				<h1>Pricing</h1>
			</div>
		</div>
		<div class="row">
				<div class="col-md-6">
						<div class="panel panel-danger">
								<div class="panel-heading">
										<h3 class="text-center">STANDARD BOX</h3>
										<p class="text-center"></p>
								</div>
								<div class="panel-body text-center">
										<p class="lead" style="font-size:30px"><strong>$20/month</strong></p>
								</div>
								<ul class="list-group list-group-flush text-center">
										<li class="list-group-item">
												<span class="glyphicon glyphicon-calendar"></span> Description 1
										</li>
										<li class="list-group-item">
												<span class="glyphicon glyphicon-envelope"></span> Description 2
										</li>
										<li class="list-group-item">
												<span class="glyphicon glyphicon-heart"></span> Description 3
										</li>
								</ul>
								<div class="panel-footer"> <a class="btn btn-lg btn-block btn-danger" href="#">ORDER</a> </div>
						</div>
				</div>
				<div class="col-md-6">
						<div class="panel panel-info">
								<div class="panel-heading">
										<h3 class="text-center">BULKY ITEMS</h3>
										<p class="text-center"></p>
								</div>
								<div class="panel-body text-center">
										<p class="lead" style="font-size:30px"><strong>$40/month</strong></p>
								</div>
								<ul class="list-group list-group-flush text-center">
										<li class="list-group-item">
												<span class="glyphicon glyphicon-calendar"></span> Description 1
										</li>
										<li class="list-group-item">
												<span class="glyphicon glyphicon-envelope"></span> Description 2
										</li>
										<li class="list-group-item">
												<span class="glyphicon glyphicon-heart"></span> Description 3
										</li>
								</ul>
								<div class="panel-footer"> <a class="btn btn-lg btn-block btn-danger" href="#">ORDER</a> </div>
						</div>
				</div>
		</div>
</div>